# Node dependencies and Serverless directories for all runtime subdirectories
*/node_modules/
*/.serverless/

#Development files/directories
.DS_Store
*.log
.idea/
.vscode/

# Go specific
Golang/src/bootstrap
*/build/

# Java specific
*/target/
